// Base Colors
$black : #000;
$white : #fff;
$white-opacity: rgba(255, 255, 255, 0.82);
$white-opacity-light: rgba(255, 255, 255, 0.9);




// Text
$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 1px;


// Background Colors
$ocean-green    : #39B779;
$outer-space    : #343F45;

// Border Colors
$boston-blue : #3593C9;
$trout       : #4B535B;
$scorpion    : #575757;



// Color Text
$apple-green     : #E4F5EC;   // Color for the header span (phone-number and email span)
$tundora         : rgba(70, 70, 70, 0.9);


// Hover Colors

$nav-link: rgba(255, 255, 255, 0.6);

// Media Queries for Devices
$xs-below: 360px;
$xs : 575px;
$sm : 736px;
$md : 992px;
$lg : 1120px;
$xl : 1440px;

// // Media Queries for Workshop Grid
$grid-break-xs: 640px;
$grid-break-md : 960px;
$grid-max: 1100px;


// Media Queries for News feed Grid

$grid-column-break: 1135px;

// // Media Queries for Form-container
$form-break-sm: 625px;
$form-break-xs: 440px;


// // Media Queries for Footer Section
$footer-break: 925px;


// Grid Configuration
$grid-col-w     : 60px;
$grid-col-count : 12;
$grid-gutter-w  : 20px;
$grid-con-max-w : 1200px;
